{% extends "::base.html.twig" %}

{% block title %}Resume edit{% endblock %}

{% block body %}
<h1>Resume - edit</h1>
<div class="container">
    <div class="row">
        <div class="col-md-12">
        </div>
    </div>
</div>
{% endblock %}
