{% extends "::base.html.twig" %}

{% block title %}Resume flat{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
        <h1>Resume - flat</h1>
        <table class="table table-inverse table-bordered  table-condensed">
            <thead>
                <tr>
                    <th>Full stack expertise</th>
                    <th>Level</th>
                    <th></th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>Back-end</td>
                      <td>advanced</td>
                      <td>where I feel at home</td>
                  </tr>
                  <tr>
                      <td>Front-end</td>
                      <td>intermediate</td>
                      <td>know how to keep the pages clean and legible</td>
                  </tr>
                  <tr>
                      <td>Database management</td>
                      <td>intermediate</td>
                      <td>good amount but not enough to be the db admin</td>
                  </tr>
                <tr>
                    <td>Sys admin</td>
                    <td>intermediate</td>
                    <td>learning...and enjoying it.</td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>

<div class="container">
  <div class="row">
      <div class="col-md-6">
        <table class="table table-inverse table-bordered  table-condensed">
          <thead>
                <tr><th>Main skills</th></tr>
              </thead>
              <tbody>
                <tr><td>php (4+), Symfony (1+) and Zendgrid (2)</td></tr>
            <tr><td>javascript (4+), jQuery (3+)</td></tr>
            <tr><td>Boostrap CSS (1+)</td></tr>
            <tr><td>MySQL databases (4+)</td></tr>
            <tr><td>svn (2) and Git (1+)</td></tr>
            <tr><td>Linux command line (3+)</td></tr>
            <tr><td>composer (1+) and bower (less than a yr)</td></tr>
            <tr><td>gulp/mocha (less than a yr)</td></tr>
            <tr><td>* Vim, phpStorm, and Atom</td></tr>
            </tbody></table>
        </div>
        <div class="col-md-6">
        <table class="table table-condensed table-inverse  table-bordered">
          <thead>
            <tr><th>Other skills</th></tr></thead>
          <tbody>
            <tr><td>asp.net (less than a year)</td></tr>
            <tr><td>Kohana framework (1+)</td></tr>
            <tr><td>Oracle databases & PL/SQL (2)</td></tr>
            <tr><td>Wordpress, Joomla, Drupal CMS support (less than a yr)</td></tr>
          </ul>
          </tbody>
        </table>
          <table class="table table-inverse table-bordered  table-condensed">
          <thead>
            <tr>
              <th>Miscellaneous</th></tr></thead>
              <tbody>
          <tr><td>Adobe Photoshop</td></tr>
        <tr><td>Photography</td></tr>
        <tr><td>Mid-range jumpshot</td></tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
      <div class="col-md-12">
          <table class="table table-condensed  table-inverse table-bordered">
              <thead class="table-inverse">
                  <tr>
                      <th>Timeline</th>
                      <th></th>
                    </tr>
              </thead>
              <tbody>
                  <tr><td>HTML</td><td>The first HTML page I created was on Sponge Bob (I know... Sponge Bob?)</td></tr>
                  <tr><td>OOP Java</td><td>Loved it, but for some reason didn't go for CS in college</td></tr>
                  <tr><td>Matlab</td><td>The most "programming" experience most mechanical engineers got to do in Berkeley</td></tr>
                  <tr><td>php, javascript/ajax, css and sql</td><td>Learned at a summer job in Holland</td></tr>
                  <tr><td>Scheme</td><td>Picked it up in my attempts to see if I wanted to double major</td></tr>
                  <tr><td>r-script and ...more Matlab</td><td>For crunching stats during my biomedical engineering degree</td></tr>
                  <tr><td>Wordpress & Joomla</td><td>Tech support for 30+ CMS website</td></tr>
                  <tr><td>asp.net</td><td>3 months creating a locker management application</td></tr></tr>
                  <tr><td>jQuery, MVC, Zendgrid, svn</td><td>2 solid years of php applications support</td></tr>
                  <tr><td>kohana, Symfony, Linux, git, composer</td><td>Favorite tools in all my learning so far</td></tr>
                  <tr><td>Gulp, Mocha, WebDriverIO</td><td>Tools for some sorely needed QA automation</td></tr>
              </tbody>
          </table>

          <table class="table table-condensed  table-inverse table-bordered">
              <thead class="table-inverse">

<tr><th>Ambry Genetics</th></tr>
</thead>
<tbody>
<tr><td>Developed database­driven applications and inter­departmental software accessible to 300+ users.</td></tr> <tr><td>Utilized PHP, javascript, jQuery, Kohana framework, and Git control as primary technical tools. </td></tr> <tr><td>Fixed bugs, designed features/APIs, and maintained version releases on a regular software development life cycle. </td></tr> <tr><td>Led a highly­anticipated version release among seven developers, which initiated company­wide workflow  change.  </td></tr> <tr><td>Communicated progress updates to users, technical requirements to other project leads, and organized QA  processes.</td></tr>
</tbody>
</table>

<table class="table table-condensed  table-inverse table-bordered">
              <thead class="table-inverse">

<tr><th>University of California, Riverside Extension</th></tr>
</thead>
<tbody>
<tr><td>Designed relational database systems and web applications, via PL/SQL scripts and Zend MVC framework.</td></tr> <tr><td>Regularly refactored pre­existing legacy code, managed by SVN in a Linux environment across multiple servers.  </td></tr> <tr><td>Fixed bugs, developed enhancements, and managed data for registration, application, and shopping cart systems.  </td></tr> <tr><td>Directed QA process, troubleshooting, website monitoring by QA analysts, fellow developers, and end­users.   </td></tr> <tr><td>Supervised and taught PHP, jQuery, SQL, database basics, and business development process to student workers. </td></tr>
</tbody>
</table>

<table class="table table-condensed  table-inverse table-bordered">
              <thead class="table-inverse">
<tr><th>Aequitas Solutions</th></tr> <tr><td>Developed MVC web applications for K­12 school content management systems in ASP.net.  </td></tr>
</thead>
<tbody>
<tr><td>Implemented SQL, VB, ASP.net, and jQuery to handle back­end, business logic, and front­end production.</td></tr> <tr><td>Tested, debugged, and released updated versions via collaboration with separate development and QA teams.</td></tr>
</tbody>
</table>

<table class="table table-condensed  table-inverse table-bordered">
<thead>
<tr><th>ACU Web</th></tr> <tr><td>Enhanced, fixed, and managed 40+ websites, providing design and marketing over the course of 1 year.  ●
</thead>
<tbody>
<tr><td>Self­taught the integration and maintenance methods of multiple frameworks for each website. 
</tbody>

<table class="table table-condensed  table-inverse table-bordered">
<thead>
<tr><th>BREPLU BV​</th></tr>
</thead>
<tbody>
<tr><td>Self­taught HTML, Javascript and SQL to revive previously undervalued project.  <tr><td>Designed UI for international clients to monitor a proprietary, relational­database management system.    
</tbody>
</table>

<table class="table table-inverse table-bordered  table-condensed">
<thead><tr><th>
Education</th></tr></thead>
<tbody>
<tr>
<td>University of California, Berkeley</td>
<td>May 2010</td>
<td>B.S. Mechanical Engineering</td>
</tr>
<tr>
<td>University of California, Berkeley</td>
<td>June 2011</td>
<td>M.S. Biomedical Engineering</td>
</tr>
</tbody>
</table>

    </div>
</div>
{% endblock %}
